<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<section class="ftco-section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">게시글</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container">
                <div class="row border bg-light">
                    <div class="col-md-12 d-flex">
                        <h3 class="flex-grow-1" th:text="${text.title}">제목</h3>
                        <p class="mt-auto" th:text="${text.createdTime}">작성일자</p>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-md-6  d-flex">
                        <p class="mt-auto" th:text="${text.customer.name}">작성자</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <p th:text="${text.content}">글 내용</p>
                    </div>
                </div>
            </div>
            <p>
            <span th:each = "hashtag : ${hashtagList}">
              <span th:text="${hashtag.name}"></span>
            </span>
            </p><br>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                <div class="row d-flex border bg-info">
                    <p class="mt-auto"th:text="'댓글 ' +  ${commentList.size()} + '개'" ></p>

                </div>
                    <div id="commentCollapse">
                <div th:each="comment : ${commentList}">
                    <div class="row border bg-light d-flex">
                        <p class="col-auto mt-auto" th:text="${comment.customer.name}"></p>
                        <p class="col-auto mt-auto ms-auto" th:text="${comment.createdTime}"></p>
                    </div>
                    <div class="row border-bottom d-flex">
                        <p class="col mt-auto" th:text="${comment.content}">내용</p>
                        <div class="col">
                            <button class="btn-sm float-lg-end btn" type="button" data-bs-toggle="collapse" th:data-bs-target="'#addComment' + ${comment.id}" aria-expanded="false" th:aria-controls="'addComment' + ${comment.id}">
                                댓글 작성
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div th:id="'addComment' + ${comment.id}" class="collapse">
                            <form th:action="@{../comments/new}" th:object="${commentForm}" method="post" id="commentForm">
                                <div class="form-group">
                                    <input type="hidden"  name="parent" th:value="${comment.id}">
                                    <input type="hidden" name="textId" th:value="${text.id}">
                                    <label for="content">대댓글 작성</label>
                                    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn-sm float-lg-end">작성하기</button>
                            </form>
                        </div>
                    </div>
                    <div style="margin-left : 30px" th:if="${not #lists.isEmpty(comment.childCommentList)}">
                        <div th:each="childComment : ${comment.childCommentList}">
                            <div class="row border bg-light d-flex">
                                <p class="col-auto mt-auto" th:text="${childComment.customer.name}"></p>
                                <p class="col-auto mt-auto ms-auto" th:text="${childComment.createdTime}"></p>
                            </div>
                            <div class="row border-bottom d-flex">
                                <p class="col mt-auto" th:text="${childComment.content}">내용</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="firstComment">
                    <form th:action="@{../comments/new}" th:object="${commentForm}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="textId" th:value="${text.id}">
                            <label for="content">댓글 내용</label>
                            <textarea class="form-control" name="content" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn-sm float-lg-end">작성하기</button>
                    </form>
                </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/board}'|">목록으로</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary" th:if="${owner}" type="button" th:onclick="|location.href='@{/board/edit/{id}(id=${text.id})}'|">글 수정</button>
                        </div>
                        <div class="col">
                            <form th:if="${owner}" th:action="@{../delete/{id}(id=${text.id})}" th:object="${text}" th:method="post">
                                <button class="btn btn-secondary " type="submit">글 삭제</button>
                            </form>
                        </div>
                    </div>
            </div>
            </div>

        </div>
    </div>
</section>

<script src="/js/bootstrap.js"></script>

</body>
</html>
