<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config.html">
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragment/sidebar.html">sidebar</nav>

    <div class="main">
        <nav th:replace="fragment/header.html">header</nav>
        <main class="content">
            <div class="container-fluid p-0">
                <h1 th:text="${text.getTitle()}">글 제목</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8" th:text="${text.getCustomer().getName()}">작성자</div>
                            <div class="col-md-3 text-md-end" th:text="${text.getCreatedTime()}">작성 날짜</div>
                            <div class="col-md-1 text-md-end">
                                <div th:if="${isBookmarked == false}" class="mt-auto">
                                    <form th:action="@{/bookmarks/new}" th:method="post">
                                        <input type="hidden" name="textId" th:value="${textId}">
                                        <button class="btn" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <div th:if="${isBookmarked == true}" class="mt-auto">
                                    <form th:action="@{/bookmarks/delete}" th:method="post">
                                        <input type="hidden" name="textId" th:value="${textId}">
                                        <button class="btn" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-md-end">
                                <small th:text="|조회수 : ${text.viewCount}|"></small>
                            </div>
                        </div>
                        <hr style="width: 100%"/>
                        <div>
                           <p style="white-space: pre-wrap;"
                              th:text="${text.getContent()}">글 내용</p>
                        </div>
                        <hr style="width: 100%"/>
                        <div>
                            <h5 class="card-title h6">Hashtags</h5>
                            <a th:each="hashtag : ${hashtagList}">
                                <a class="badge bg-primary me-1 my-1" th:text="${hashtag.name}" th:onclick="|location.href='@{/?searchKey={name}&type=hashtag(name=${hashtag.name})}'|">해시태그</a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" th:text="'댓글 ' +  ${commentCnt} + '개'"></div>
                    <div class="card-body">
                        <div th:each="comment : ${commentList}">
                            <div class="row border bg-light d-flex">
                                <p class="col-auto mt-auto" th:text="${comment.customer.name}"></p>
                                <p class="col-auto mt-auto ms-auto" th:text="${comment.createdTime}"></p>
                            </div>
                            <div class="row border-bottom d-flex">
                                <p class="col mt-auto" th:text="${comment.content}">내용</p>
                                <div class="col">
                                    <button class="btn-sm float-lg-end btn" type="button" data-bs-toggle="collapse" th:data-bs-target="'#addComment' + ${comment.id}" aria-expanded="false" th:aria-controls="'addComment' + ${comment.id}">
                                        댓글 작성
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div th:id="'addComment' + ${comment.id}" class="collapse">
                                    <form th:action="@{../comments/new}" th:object="${commentForm}" method="post" id="commentForm">
                                        <div class="form-group">
                                            <input type="hidden"  name="parent" th:value="${comment.id}">
                                            <input type="hidden" name="textId" th:value="${text.id}">
                                            <label for="content">대댓글 작성</label>
                                            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                                        </div>
                                        <button type="submit" class="btn-sm float-lg-end">작성하기</button>
                                    </form>
                                </div>
                            </div>
                            <div style="margin-left : 30px" th:if="${not #lists.isEmpty(comment.childCommentList)}">
                                <div th:each="childComment : ${comment.childCommentList}">
                                    <div class="row border bg-light d-flex">
                                        <p class="col-auto mt-auto" th:text="${childComment.customer.name}"></p>
                                        <p class="col-auto mt-auto ms-auto" th:text="${childComment.createdTime}"></p>
                                    </div>
                                    <div class="row border-bottom d-flex">
                                        <p class="col mt-auto" th:text="${childComment.content}">내용</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="firstComment">
                            <form th:action="@{/comments/new}" th:object="${commentForm}" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="textId" th:value="${text.id}">
                                    <label for="content">댓글 내용</label>
                                    <textarea class="form-control" name="content" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn-sm float-lg-end">작성하기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-md-end">
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/}'|">목록으로</button>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <button class="btn btn-secondary" th:if="${owner}" type="button" th:onclick="|location.href='@{/edit/{id}(id=${text.id})}'|">글 수정</button>
                    </div>
                    <div class="col-md-3">
                        <form th:if="${owner}" th:action="@{/delete/{id}(id=${text.id})}" th:object="${text}" th:method="post">
                            <button class="btn btn-secondary " type="submit">글 삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="../../js/app.js"></script>

</body>
</html>