<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config.html">
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragment/sidebar.html">sidebar</nav>

    <div class="main">
        <nav th:replace="fragment/header.html">header</nav>
        <main class="content">
            <div class="container-fluid p-0">
                <h1 th:text="${textDto.getTitle()}">글 제목</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8" th:text="${textDto.getCustomerName()}">작성자</div>
                            <div class="col-md-3 text-md-end" th:text="${textDto.getCreatedTime()}">작성 날짜</div>
                            <div class="col-md-1 text-md-end">
                                <div class="mt-auto" th:if="${textDto.isBookmarked == false}">
                                    <form th:action="@{/bookmarks/new}" th:method="post">
                                        <input name="textId" th:value="${textId}" type="hidden">
                                        <button class="btn" type="submit">
                                            <svg class="bi bi-bookmark-star" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                                <div class="mt-auto" th:if="${textDto.isBookmarked == true}">
                                    <form th:action="@{/bookmarks/delete}" th:method="post">
                                        <input name="textId" th:value="${textId}" type="hidden">
                                        <button class="btn" type="submit">
                                            <svg class="bi bi-bookmark-star-fill" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z" fill-rule="evenodd"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-md-end">
                                <small th:text="|조회수 : ${textDto.getViewCnt()}|"></small>
                            </div>
                        </div>
                        <hr style="width: 100%"/>
                        <div>
                           <p style="white-space: pre-wrap;"
                              th:text="${textDto.getContent()}">글 내용</p>
                        </div>
                        <hr style="width: 100%"/>
                        <div>
                            <h5 class="card-title h6">Hashtags</h5>
                            <a th:each="hashtag : ${textDto.hashtagList}">
                                <a class="badge bg-primary me-1 my-1" th:onclick="|location.href='@{/?searchKey={name}&type=hashtag(name=${hashtag.name})}'|" th:text="${hashtag.name}">해시태그</a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" th:text="'댓글 ' +  ${textDto.getCommentList().size()} + '개'"></div>
                    <div class="card-body">
                        <div th:each="comment : ${textDto.getCommentList()}">
                            <div class="row border bg-light d-flex">
                                <p class="col-auto mt-auto" th:text="${comment.getCustomerName()}"></p>
                                <p class="col-auto mt-auto ms-auto" th:text="${comment.createdTime}"></p>
                            </div>
                            <div class="row border-bottom d-flex">
                                <p class="col mt-auto" th:text="${comment.content}">내용</p>
                                <div class="col">
                                    <button aria-expanded="false" class="btn-sm float-lg-end btn" data-bs-toggle="collapse" th:aria-controls="'addComment' + ${comment.id}" th:data-bs-target="'#addComment' + ${comment.id}" type="button">
                                        댓글 작성
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="collapse" th:id="'addComment' + ${comment.id}">
                                    <form id="commentCreateForm" method="post" th:action="@{../text/${textDto.getId()}/comments/new(textId = ${textId})}" th:object="${commentCreateForm}">
                                        <div class="form-group">
                                            <input name="parent"  th:value="${comment.id}" type="hidden">
                                            <input name="textId" th:value="${textDto.getId()}" type="hidden">
                                            <label for="content">대댓글 작성</label>
                                            <textarea class="form-control" id="content" name="content" required rows="3"></textarea>
                                        </div>
                                        <button class="btn-sm float-lg-end" type="submit">작성하기</button>
                                    </form>
                                </div>
                            </div>
                            <div style="margin-left : 30px" th:if="${not #lists.isEmpty(comment.childCommentList)}">
                                <div th:each="childComment : ${comment.childCommentList}">
                                    <div class="row border bg-light d-flex">
                                        <p class="col-auto mt-auto" th:text="${childComment.customerName}"></p>
                                        <p class="col-auto mt-auto ms-auto" th:text="${childComment.createdTime}"></p>
                                    </div>
                                    <div class="row border-bottom d-flex">
                                        <p class="col mt-auto" th:text="${childComment.content}">내용</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="firstComment">
                            <form method="post" th:action="@{/text/{textId}/comments/new(textId = ${textId})}" th:object="${commentCreateForm}">
                                <div class="form-group">
                                    <input name="textId" th:value="${textDto.getId()}" type="hidden">
                                    <label for="content">댓글 내용</label>
                                    <textarea class="form-control" name="content" required rows="3"></textarea>
                                </div>
                                <button class="btn-sm float-lg-end" type="submit">작성하기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-md-end">
                        <button class="btn btn-primary" th:onclick="|location.href='@{/}'|" type="button">목록으로</button>
                    </div>
                    <div class="col-md-3 text-md-end">
                        <button class="btn btn-secondary" th:if="${textDto.textOwn}" th:onclick="|location.href='@{/edit/{id}(id=${textDto.id})}'|" type="button">글 수정</button>
                    </div>
                    <div class="col-md-3">
                        <form th:action="@{/delete/{id}(id=${textDto.id})}" th:if="${textDto.getTextOwn()}" th:method="post" th:object="${textDto}">
                            <button class="btn btn-secondary " type="submit">글 삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="../../js/app.js"></script>

</body>
</html>