<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragment/config.html">
</head>
<body>
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                                <div class="text-center mt-4">
                                    <h1 class="h2">비밀번호가 정상적으로 변경되었습니다!</h1>
                                    <p class="lead">변경된 비밀번호로 로그인을 진행해주세요.</p>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="button" class="btn btn-lg btn-primary" th:onclick="|location.href='@{/customer-login}'|">로그인</button>
                                    <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/}'|">홈으로</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="../../static/js/app.js"></script>

</body>

</html>