<!DOCTYPE html>
<html lang="en">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
<br><br><br><br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="heading-section">새 비밀번호 입력</h2>

        <form th:class="form-control" th:action th:object="${form}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="text-danger" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">글로벌 오류 메시지</p>
            </div>
            <div class="form-group">
                <label for="password" >비밀번호</label>
                <input type="password" id="password" class="form-control" th:name="password" th:field="*{password}">
                <label for="passwordCheck">비밀번호 확인</label>
                <input type="password" id="passwordCheck" class="form-control" th:name="passwordCheck" th:field="*{passwordCheck}">
            </div><br>
            <div>
                <button class="btn btn-primary" type="submit">변경</button>
                <button class="btn btn-secondary" type="button" th:onclick="|location.href='@{/}'|">홈으로</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>